<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Hotel API</display-name>

    <listener>
        <listener-class>legacy.listeners.ServletInitializer</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>apartmentServlet</servlet-name>
        <servlet-class>legacy.servlets.ApartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>apartmentServlet</servlet-name>
        <url-pattern>/api/apartments/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>legacy.servlets.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/api/clients/*</url-pattern>
    </servlet-mapping>
</web-app>